@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
<h4>Our Service Area</h4>
<ul>
    <li>Cleveland</li>
    @if(false) {  
        <li>FOO</li>
                }
    <li>Tokyo</li>
</ul>