@page
@model DigiTours.Pages.Dashboard.CreateModel

@{
    ViewData["Title"] = "Create";
    //MAPS API KEY: AIzaSyDXnayJC46JkBlUHMRwzWhTj4HISkEyXY8
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXnayJC46JkBlUHMRwzWhTj4HISkEyXY8&libraries=places&callback=initAutocomplete" async defer></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="auto-complete.js"></script>

<h2>Create</h2>

<h4>Tour</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--<div class="form-group">
                <label asp-for="Tour.User" class="control-label"></label>-->
            <input asp-for="Tour.User" value="@user?.Id" type="hidden" class="form-control" />
            <!--<span asp-validation-for="Tour.User" class="text-danger"></span>
            </div>-->

                <input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text" class="form-control">
                <div id="address">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label">Street address</label>
                            <input class="form-control" id="street_number" disabled="true">
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Route</label>
                            <input class="form-control" id="route" disabled="true">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label">City</label>
                            <input class="form-control field" id="locality" disabled="true">
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">State</label>
                            <input class="form-control" id="administrative_area_level_1" disabled="true">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label">Zip code</label>
                            <input class="form-control" id="postal_code" disabled="true">
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Country</label>
                            <input class="form-control" id="country" disabled="true">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Tour.Location" class="control-label"></label>
                <input asp-for="Tour.Location" class="form-control" />
                <span asp-validation-for="Tour.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tour.Requests" class="control-label"></label>
                <input asp-for="Tour.Requests" class="form-control" />
                <span asp-validation-for="Tour.Requests" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tour.Type" class="control-label"></label>
                <input asp-for="Tour.Type" class="form-control" />
                <span asp-validation-for="Tour.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
